<h1><%= @ingredient.name.capitalize %></h1>

<h2>This ingredient is in the following recipes:</h2>

<ul>
  <% @ingredient.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
  <% end %>
</ul>
